<!DOCTYPE html>
<html>
<head>

<title>Practical Session</title>

<style>

body{
font-family:Arial;
background:#f4f7fc;
padding:40px;
text-align:center;
}

.container{

background:white;
padding:30px;
width:600px;
margin:auto;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,.2);

}

h2{
color:#1e3c72;
}

button{

padding:15px 30px;
font-size:18px;
background:#28a745;
color:white;
border:none;
border-radius:5px;
cursor:pointer;

}

button:hover{

background:#218838;

}

</style>

</head>

<body>

<div class="container">

<h2>Practical Session</h2>

<h3>{{ subject_name }}</h3>

<p>Date : {{ today }}</p>

<br>

<button>

📷 Start QR Attendance

</button>

</div>

</body>

</html>